
.chats-screen__main {
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 70px;
}

.chats-screen__profile .profile__button-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chats-screen__profile .notification {
  position: static;
  margin-top: 8px;
  height: 26px;
  width: 26px;
  border-radius: 13px;
}