
.find-screen__main {
  margin-top: 40px;
  margin-bottom: 70px;
  overflow: auto;
}

.find-screen__add-friends {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.find-screen__button {
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.find-screen__button:nth-child(2) span {
  margin-top: -5px;
}

.find-screen__button > i {
  margin-bottom: 20px;
}

.find-screen__button > span {
  width: 80%;
}

.find-screen__recommended-friends {
  margin: 0 20px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.find-screen__recommended-friends__main {
  display: flex;
  height: 230px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.find-screen__open-chat {
  margin: 0 20px;
}

.find-screen__open-chat-bar {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.7);
}

.find-screen__open-chat-bar-right {
  color: rgba(0, 0, 0, 0.4);
}

.find-screen__open-chat__component {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.find-screen__open-chat__component:last-child {
  border-bottom: none;
}

.find-screen__open-chat__component-title {
  font-weight: 600;
  font-size: 20px;
}

.find-screen__open-chat__component-tags {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6)
}

.find-screen__open-chat__component-state {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.find-screen__open-chat__component-state-image {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: tomato;
  margin-right: 5px;
}

.find-screen__open-chat__component-state > span {
  margin-right: 5px;
}

.find-screen__open-chat__component-state > span:last-child {
  color: #edb8e6;
}

.find-screen__open-chat__component-image {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  background-color: lightblue;
}

.find-screen__open-chat__component-image-heart {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background-color: black;
  color: white;
}